.logo {
    display:flex;
    justify-content: center;
    height: 40px;
}
.Post {
    display:flex;
    justify-content: center;
    color: rgb(72, 132, 72);
    background-color: rgb(247, 247, 226);
    border-top: 1px solid rgb(244, 207, 137);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 7px;
  
}
.strong {
    font-weight: 900;
    font-size: x-large;
}
.Ingredients {
    display:flex;
    justify-content: center;
    font-size: large;
    font-weight: 700;
    margin-top: 30px;
    
}

.Taste{
    display:flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 7px;
    margin-bottom: 5px;
}

.Photo{
    display:flex;
    justify-content: center;
}

.Image {
    text-align: center;
    font-size: 6px;
    margin-top: 5px;
    color: grey;
   
}

.Feature{
    padding-left: 250px;
    font-size: 7px;
    color: crimson;
    margin-top: 10px;
    
}
.Fresh{
    padding-left: 250px;
    text-decoration:underline;
    font-size: 6px;
    color:rgb(87, 120, 87);
}
.line {
    border-left: thick solid red ;
    
}

.List{
    padding-left: 248px;
    padding-top: 30px;
}
.hr {
    
    color: rgb(29, 229, 162); 
}
.Focaccia {
    padding-left: 248px;
    font-size: 7px;
    font-weight: bold;
    margin-top: 15px;
}
.Menu{
    padding-left: 267px;
    font-size: 8px;
    
}
.Topping {
    padding-left: 248px;
    font-size: 7px;
    font-weight: bold;
    margin-top: 15px;
}

.Toppings {
    padding-left: 267px;
    font-size: 8px;
    
}

.Method {
    font-size: small;
    font-weight: 200;
    padding-left: 248px;
}
.Dough {
    text-align: center;
}
.Recipe{
    text-align: center;

}